* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body.bg {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #ffffff;
  width: 360px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
  animation: fade 0.6s ease;
}

@keyframes fade {
  from {opacity:0; transform: translateY(20px);}
  to {opacity:1; transform: translateY(0);}
}

h2 {
  text-align: center;
  color: #4a4a4a;
}

h3 {
  margin-top: 20px;
  color: #555;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
}

textarea {
  resize: none;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.logout {
  background: #e74c3c;
}

ul {
  list-style: none;
  padding: 0;
}

.issue {
  background: #f7f7f7;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.issue img {
  width: 100%;
  margin-top: 8px;
  border-radius: 8px;
}

.tag {
  display: inline-block;
  padding: 4px 8px;
  background: #667eea;
  color: white;
  font-size: 12px;
  border-radius: 6px;
}

select {
  background: white;
  cursor: pointer;
}
/* STATUS COLORS */
.status {
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 20px;
  display: inline-block;
}

.open {
  background: #ffdddd;
  color: #b30000;
}

.in-progress {
  background: #fff3cd;
  color: #856404;
}

.resolved {
  background: #d4edda;
  color: #155724;
}

